<ion-header>
  <mat-toolbar class="toolbar">
    <span class="fill"></span>
    <span>Your Trip</span>
    <span class="fill"></span>
  </mat-toolbar>
</ion-header>

<ion-content>
    <div class="layout" fxLayout="column" fxLayoutAlign="space-between center">
        <div class="subheading"><span class="sub">Today’s Trip to Electronic City</span></div> 
        <div fxLayout="column" fxLayoutAlign="space-evenly center" class="truckdetails">
            <img src="assets/images/truck.png" class="truck">
            <span class="truckno">KA-05-AA-1234</span>    
            <span class="model">Tata Signa 2168</span>       
        </div>     
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" class="review">
            <img src="assets/images/star-full.svg" width="25px">
            <img src="assets/images/star-full.svg" width="25px">
            <img src="assets/images/star-full.svg" width="25px">
            <img src="assets/images/star-full.svg" width="25px">
            <img src="assets/images/star-full (1).svg" width="25px">
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="driver">
        <img src="assets/images/image.png" width="45px" class="dimg">
        <div class="vdevider"></div>
        <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="0.2rem">
                <span class="trailer">Trailer 40Ft :</span>
                <span class="ddetails">Manohar K : +91-9911223344</span>
         </div>
    </div>
<div fxLayout="column" fxLayoutAlign="start start" class="location" fxLayoutGap="2px">
    <div fxLayout="row" fxLayoutAlign="start center" class="address">
    <img src="assets/images/from location.svg" class="locationimg">
    <span>422, 24th Main Rd, ITI Layout, BDA Layout, HSR Layout, Bengaluru ...</span>
    </div>

    <div class="smallvdivider"></div>
    <div class="smallvdivider"></div>
    <div class="smallvdivider"></div>
    <div class="smallvdivider"></div>
    <div class="smallvdivider"></div>
    <div class="smallvdivider"></div>
    <div class="smallvdivider"></div>
    <div class="smallvdivider"></div>
    <div class="smallvdivider"></div>

    <div fxLayout="row" fxLayoutAlign="start center" class="address">
    <img src="assets/images/end location.png" class="locationimg1">
    <span>Plot 102/10, Electronics City-1, Bengaluru, Karnataka 560100</span>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" class="datetimecontainer">
<div class="date"><span style="text-decoration:underline;">DATE:</span><span> 03/07/2020</span></div>
<div class="time"><span style="text-decoration:underline;">TIME:</span><span> 12:30 PM</span></div>
</div>
</ion-content>
