#container {
    text-align: center;
    position: absolute;
    left: 7%;
    right: 7%;
  }
  .radio_group{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  .radio{
    display: flex;
    flex-direction: row;
  }
  